body {
    background: #000000;
    text-align: center;
    color: #575757;
    font: 14px/21px Arial,Helvetica,sans-serif;
}

a {
    color: #B93F14;
}

a:hover {
    text-decoration: none;
}

canvas {
    position: relavtive;
    border: 1px solid black;
    background: transparent;
}

img {
    position:absolute;
    z-index:1;
}

#container{
    position:relative; 
    border:1px solid black; 
}

#tinyflame{
    position:relative;
    z-index:20;
}    
    
